version: "3.9"

services:
  api:
    build: .
    container_name: backend_loja
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: always

    nginx:
      image: nginx:alpine
      container_name: nginx_loja
      restart: always
      ports:
        - "80:80"
      volumes:
        - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
        - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      depends_on:
        - backend